@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

.home{
    position: relative;
    margin: 0 auto;
    width: 95vw;
overflow-x: hidden;
   
}
.hire{
  color: white;
}
.hire:hover{
  color: #000;
}
.mainhome{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  padding-top: 4%;
    background-image: url("../assets/Developer.png");
   background-size: cover;
   padding-bottom: 13%;  
   overflow-x: hidden;
 
}
.mainhomeimg{
width: 29vw;
height: 60vh;
--g: #0000, #000 0.5deg 90deg, #0000 91deg;
--m: conic-gradient(from 45deg, var(--g)) 20px 0 no-repeat,
  conic-gradient(from 135deg, var(--g)) 0 20px no-repeat,
  conic-gradient(from 225deg, var(--g)) -20px 0 no-repeat,
  conic-gradient(from 315deg, var(--g)) 0 -20px no-repeat;
-webkit-mask: var(--m);
mask: var(--m);
transition: 0.3s linear;
filter: grayscale(0.5);
cursor: pointer;
}
img:hover {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
    filter: grayscale(0);
  }
.homepara{
width: 60vw;
color: black;
text-align: right;
font-family: "Merriweather Sans";
font-size: 3.8vw;
font-style: normal;
font-weight: 400;
}




.spanbig{
    font-size: 7vw;
}
.spanyellow{
    color: #FC0;
}
.name{
    color: #B7206C;
    font-weight: bold;
}


.btn-pink{
    display: flex;
    width: 10rem;
    height: 3rem;
    margin: 0 auto;
    margin-right: 0.1vw;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Angkor', serif;
    font-family: 'Martel Sans', sans-serif;
        font-size: 1.2rem;
        color: white;
        background-color: #426342;
        box-shadow: 5px 5px 7px 0px #0000003f;
        transition: all 0.5s;
        font-weight: 500;
        border: solid 3px transparent;
        position: relative;
        z-index: 1;
      

}

  .btn-pink::before {
    content: "";
    position: absolute;
    background-color: #FC0;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
  }
  .btn-pink:hover::before {
    transform: scaleX(1);
  }
  .btn-pink:hover {
    border: solid 3px #FC0;
    color: black;
  }
  @media screen and  (max-width: 1000px) {
 
    .homepara {
      font-size: 7vw;
      text-align: center;
      
    }
    .spanbig {
      font-size: 7.5vw;
    }
    .mainhomeimg {
      width: 50vw;
      height: 50vh;
    }
    .btn-pink{
margin-left: 19vw;
    }
  }
  @media screen and  (max-width: 580px) {
  
    .homepara {
      font-size:2.4rem;
     
      
    }
    .spanbig {
      font-size: 3rem;
    }
    .mainhomeimg {
      width: 65vw;
      height: 52vh;
    }
    .btn-pink{
margin-left: 14vw;
    }
  }

  @media screen and  (max-width: 450px) {
  
    .homepara {
      font-size:2rem;
    }
    .spanbig {
      font-size: 2.5rem;
    }
    .mainhomeimg {
      width: 105vw;
      height: 52vh;
    }
    .btn-pink{
margin-left: 6vw;

    }
  }